<?xml version="1.0"?>
<connectionStrings>
  <!--&uhu=(ô.ô)-->
  <remove name="server"/>
  <add name="server" connectionString="Data Source=127.0.0.1;
    Initial Catalog=SVG_FloorPlanner;
    Persist Security Info=False;
    User Id=ApertureWebServices;
    Password=TopSecrect123;
    MultipleActiveResultSets=False;
    Packet Size=4096;
    Application Name=&quot;SVG FloorPlanner&quot;" 
    providerName="System.Data.SqlClient"/>
    
    <remove name="COR-W81-101"/>
    <add name="COR-W81-101" connectionString="Data Source=COR-W81-101;Initial Catalog=SVG_FloorPlanner;Integrated Security=SSPI;Persist Security Info=False;MultipleActiveResultSets=False;Packet Size=4096;" providerName="System.Data.SqlClient"/>
    
</connectionStrings>
